<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<ul>
  <%= "Museums near (#{@latitude}, #{@longitude}):" %>
  <% @result.each do |museum| %>
    <li>
      <%= museum["place_name"] %>
    </li>
  <% end %>
</ul>
