<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center mt-5 mb-5">Museums</h2>

    <div class="row">
      <div class="col-12 col-lg-4">
      <%= "Museums near (#{@latitude}, #{@longitude}):" %>
      </div>
      <div class="col-12 col-lg-8">
      <pre>
        <%= JSON.pretty_generate(@museums) %>
        </pre>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" href="/" role="button">Back to Homepage</a>
</div>
